In [38]:
import pandas as pd
from sklearn.model_selection import train_test_split

df=pd.read_csv('iris.csv')
df.head(2)

   がく片長さ  がく片幅  花弁長さ   花弁幅           種類
0   0.22  0.63  0.08  0.04  Iris-setosa
1   0.17  0.42  0.35  0.04  Iris-setosa

In [39]:
tmp_df=df.loc[:, 'がく片長さ':'花弁幅'].fillna(df.loc[:, 'がく片長さ':'花弁幅'].mean())
df=pd.concat([tmp_df, df['種類']], axis=1)
x=df.loc[:, :'花弁幅']
t=df[['種類']]
from sklearn.preprocessing import StandardScaler
sc_x_model=StandardScaler()
sc_x=sc_x_model.fit_transform(x)

In [40]:
x_train, x_val, y_train, y_val = train_test_split(sc_x, t, test_size=0.2, random_state=0)
from sklearn.linear_model import LogisticRegression

model=LogisticRegression(random_state=0, C=0.1, solver='lbfgs')
model.fit(x_train, y_train)
print(model.score(x_train, y_train))
model.score(x_val, y_val)

0.8666666666666667

C:\Users\user\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8333333333333334

In [41]:
model.coef_

array([[-0.53168668,  0.48573155, -0.52638431, -0.83213317],
       [ 0.09482289, -0.44707757, -0.00107471, -0.04407356],
       [ 0.4368638 , -0.03865398,  0.52745902,  0.87620673]])

In [42]:
x_new=[[1,2,3,4]]
model.predict_proba(x_new)

array([[4.02790964e-05, 3.02983301e-03, 9.96929888e-01]])

In [43]:
import pandas as pd
from sklearn.model_selection import train_test_split
%matplotlib inline

In [44]:
df=pd.read_csv('Survived.csv')
df

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

In [45]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [46]:
pd.pivot_table(df, index='Survived', columns='Pclass', values='Age')

Pclass            1          2          3
Survived
0         43.695312  33.544444  26.555556
1         35.368197  25.901566  20.646118

In [47]:
con1=df['Pclass']==1
con2=df['Survived']==0
con3=df['Age'].isnull()
df.loc[(con1) & (con2) & (con3), 'Age'] = 43

con2=df['Survived']==1
df.loc[(con1) & (con2) & (con3), 'Age'] = 35

con1=df['Pclass']==2
con2=df['Survived']==0
df.loc[(con1) & (con2) & (con3), 'Age'] = 34

con2=df['Survived']==1
df.loc[(con1) & (con2) & (con3), 'Age'] = 26

con1=df['Pclass']==3
con2=df['Survived']==0
df.loc[(con1) & (con2) & (con3), 'Age'] = 27

con2=df['Survived']==1
df.loc[(con1) & (con2) & (con3), 'Age'] = 21

In [48]:
col= ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

x=df[col]
t=df['Survived']

dummy = pd.get_dummies(df['Sex'], drop_first = True, dtype=int)
x = pd.concat([x, dummy], axis=1)
x

     Pclass   Age  SibSp  Parch     Fare  male
0         3  22.0      1      0   7.2500     1
1         1  38.0      1      0  71.2833     0
2         3  26.0      0      0   7.9250     0
3         1  35.0      1      0  53.1000     0
4         3  35.0      0      0   8.0500     1
..      ...   ...    ...    ...      ...   ...
886       2  27.0      0      0  13.0000     1
887       1  19.0      0      0  30.0000     0
888       3  27.0      1      2  23.4500     0
889       1  26.0      0      0  30.0000     1
890       3  32.0      0      0   7.7500     1

[891 rows x 6 columns]

In [49]:
from sklearn.ensemble import RandomForestClassifier
x_train, x_test, y_train, y_test = train_test_split(x, t, random_state=0, test_size=0.2)
model=RandomForestClassifier(n_estimators=200, random_state=0)
model.fit(x_train, y_train)
print(model.score(x_train, y_train))
print(model.score(x_test, y_test))

0.9873595505617978
0.8659217877094972

In [51]:
from sklearn import tree
x_train, x_test, y_train, y_test = train_test_split(x, t, random_state=0, test_size=0.2)
model2=tree.DecisionTreeClassifier(random_state=0)
model2.fit(x_train, y_train)
print(model2.score(x_train, y_train))
print(model2.score(x_test, y_test))

0.9873595505617978
0.8044692737430168

In [52]:
importance=model.feature_importances_

pd.Series(importance, index=x_train.columns)

Pclass    0.088262
Age       0.294246
SibSp     0.070647
Parch     0.017852
Fare      0.226668
male      0.302326
dtype: float64

In [58]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier

x_train, x_test, y_train, y_test = train_test_split(x, t, random_state=0, test_size=0.2)
base_model = DecisionTreeClassifier(random_state=0, max_depth=5)

model = AdaBoostClassifier(n_estimators=500, random_state=0, estimator=base_model, algorithm='SAMME')
model.fit(x_train, y_train)

print(model.score(x_train, y_train))
print(model.score(x_test, y_test))

0.9873595505617978
0.8324022346368715

In [66]:
import pandas as pd
df = pd.read_csv('cinema.csv')
df = df.fillna(df.mean())
x = df.loc[:, 'SNS1':'original']
t = df['sales']
x_train, x_test, y_train, y_test = train_test_split(x, t, random_state=0, test_size=0.2)

from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=200, random_state=0)
model.fit(x_train, y_train)
print(model.score(x_train, y_train))
print(model.score(x_test, y_test))

0.957432885756633
0.5460494714900662

In [68]:
from sklearn.ensemble import AdaBoostRegressor

from sklearn.tree import DecisionTreeRegressor
base = DecisionTreeRegressor(random_state=0, max_depth=3)

model=AdaBoostRegressor(random_state=0, n_estimators=100, estimator=base)
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.6748482902800903