In [3]:
import pandas as pd
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [4]:
df=pd.read_csv('bank_new.csv')
df

,id,age,job,marital,education,default,amount,housing,loan,contact,day,month,duration,campaign,previous,y
0,1,39,blue-collar,married,secondary,no,1756,yes,no,cellular,3,apr,370.055237,1,0,1
1,2,51,entrepreneur,married,primary,no,1443,no,no,cellular,18,feb,233.998933,10,0,1
2,3,36,management,single,tertiary,no,436,no,no,cellular,13,apr,NaN,1,2,0
3,4,63,retired,married,secondary,no,474,no,no,cellular,25,jan,252.525808,1,0,0
4,5,31,management,single,tertiary,no,354,no,no,cellular,30,apr,NaN,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27123,27124,42,blue-collar,married,primary,no,1455,yes,no,cellular,2,feb,246.943522,2,2,0
27124,27125,34,services,single,secondary,no,719,yes,no,sending _document,15,may,NaN,3,0,1
27125,27126,36,blue-collar,single,primary,no,49,yes,no,sending _document,8,may,303.008360,1,0,0
27126,27127,33,housemaid,married,primary,no,209,no,no,cellular,12,aug,258.334424,4,0,1
27127,27128,29,services,single,secondary,no,40,yes,no,cellular,18,may,321.215556,1,2,0

In [5]:
df2 = pd.get_dummies(df,drop_first=True,dtype=int)

In [6]:
train_val,test=train_test_split(df2,test_size=0.2,random_state=0)

In [7]:
train_val.isnull().sum()

id                              0
age                             0
amount                          0
day                             0
duration                     5633
campaign                        0
previous                        0
y                               0
job_blue-collar                 0
job_entrepreneur                0
job_housemaid                   0
job_management                  0
job_retired                     0
job_self-employed               0
job_services                    0
job_student                     0
job_technician                  0
job_unemployed                  0
job_unknown                     0
marital_married                 0
marital_single                  0
education_secondary             0
education_tertiary              0
education_unknown               0
default_yes                     0
housing_yes                     0
loan_yes                        0
contact_sending _document       0
contact_telephone               0
month_aug                       0
month_dec                       0
month_feb                       0
month_jan                       0
month_jul                       0
month_jun                       0
month_mar                       0
month_may                       0
month_nov                       0
month_oct                       0
month_sep                       0
dtype: int64

In [8]:
is_null=train_val['duration'].isnull()
train_val.loc[(is_null)&(train_val['age']<30)&(train_val['y']==1),'duration']=train_val.loc[(train_val['age']<30)&(train_val['y']==1)].mean()
train_val.loc
for i in [20,30,40,50,60,70,80,90]:
    train_val.loc[(is_null)&(train_val['age']>=i)&(train_val['age']<(i+10))&(train_val['y']==1),'duration']=train_val.loc[(train_val['age']>=i)&(train_val['age']<(i+10))&(train_val['y']==1)].mean()
for i in [20,30,40,50,60,70,80,90]:
    train_val.loc[(is_null)&(train_val['age']>=i)&(train_val['age']<(i+10))&(train_val['y']==0),'duration']=train_val.loc[(train_val['age']>=i)&(train_val['age']<(i+10))&(train_val['y']==0)].mean()

In [9]:
def learn(x,t):
    x_train,x_val,y_train,y_val=train_test_split(x,t,test_size=0.2,random_state=8)
    y_train=pd.DataFrame(y_train)
    y_val=pd.DataFrame(y_val)
    model=DecisionTreeClassifier(max_depth=8,random_state=9,class_weight='balanced')
    model.fit(x_train,y_train)
    train_score=model.score(x_train,y_train)
    val_score=model.score(x_val,y_val)
    return train_score,val_score
learn(x2,t2)

NameError: name 'x2' is not defined

In [ ]:
x=train_val.drop(['y','id','day'],axis=1)
t=train_val['y']

In [ ]:
train_val.corr()['y']

In [ ]:
a,b=learn(x,t)

In [ ]:
print(a,b)

In [ ]:
corr_train_val = train_val.corr()['y'].sort_values(ascending=False).map(abs)
corr_train_val = corr_train_val.drop(index = 'y')
corr_train_val

In [ ]:
x.columns

In [ ]:
x1 = x.drop(columns = ['job_services','month_mar','month_dec','education_secondary', 'job_unknown', 'month_sep', 'contact_telephone', 'month_oct', 'month_jul'])

In [ ]:
learn(x1,t)

In [ ]:
tuple(corr_train_val.index)

In [ ]:
current_elements = []
for element in tuple(corr_train_val.index):
    current_elements.append(element) 
    print(learn(train_val[current_elements],t))

In [ ]:
for j in range(1,20):
    print(j)
    print(learn(x,t, max_depth=j))

In [ ]:
learn(x,t)

In [ ]:
x2=train_val[['duration', 'housing_yes', 'campaign', 'contact_sending _document']]
learn(x2, t)

In [ ]:
train_val.plot(kind='scatter',x='duration',y='age')