In [14]:
import pandas as pd
df = pd.read_csv('cinema.csv')
df = df.drop(columns=['cinema_id'])
df.head(2)

    SNS1  SNS2         actor  original  sales
0  291.0  1044   8808.994029         0   9731
1  363.0   568  10290.709370         1  10210

In [15]:
df = df.fillna(df.mean())

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [16]:
sc_df = sc.fit_transform(df)
sc_df = pd.DataFrame(sc_df, columns=df.columns)
sc_df.head(2)

       SNS1      SNS2     actor  original     sales
0 -0.380071  1.196371 -0.704163      -1.0 -0.190425
1 -0.036880 -0.280899  0.330366       1.0  0.411923

In [23]:
from sklearn.decomposition import PCA
model = PCA(whiten=True)
model.fit(sc_df)
new = model.transform(sc_df)
new_df = pd.DataFrame(new, columns=['PC1','PC2','PC3','PC4','PC5'])
new_df.head(2)

        PC1      PC2       PC3       PC4       PC5
0 -0.295258 -1.49384  0.796023 -0.677331  0.755594
1  0.345074  1.01152  0.230844  0.237677  0.193419

In [26]:
df2 = pd.concat([sc_df,new_df], axis=1)
df2.head(2)

,SNS1,SNS2,actor,original,sales,PC1,PC2,PC3,PC4,PC5
0,-0.380071,1.196371,-0.704163,-1.0,-0.190425,-0.295258,-1.49384,0.796023,-0.677331,0.755594
1,-0.036880,-0.280899,0.330366,1.0,0.411923,0.345074,1.01152,0.230844,0.237677,0.193419

In [28]:
df2.corr().loc[:'sales','PC1':]

               PC1       PC2       PC3       PC4       PC5
SNS1      0.736368 -0.050756 -0.531509 -0.400204 -0.111893
SNS2      0.598555 -0.534089  0.536704 -0.257982 -0.043290
actor     0.837999 -0.037073 -0.017275  0.505267 -0.201966
original  0.469117  0.800559  0.324773 -0.176023 -0.050717
sales     0.936901  0.013415 -0.072303  0.115569  0.321640

In [31]:
ratio = model.explained_variance_ratio_
ratio

array([0.54012068, 0.1860554 , 0.13631136, 0.10527073, 0.03224184])

In [38]:
for j in range(len(ratio)):
    print(j)
    fig = sum(ratio[0:j])
    print(fig)
    if fig >= 0.8:
        print(j)
        print(fig)
        break

0
0
1
0.5401206784462212
2
0.7261760786703707
3
0.8624874337165251
3
0.8624874337165251